.para{
	border-style:solid;
	border-color: #0000cd;
	border-width: 2px;
	margin-top: 40px;
	padding: 0 50px 50px 50px;
}

button {
    background-color: white;
    border: none;
    color: #0000FF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #0000cd;
}

.special1 img{
	padding-bottom: 25px;
	padding-top: 25px;
	width: 50%;
	display: block;
	margin: auto;

}

.special3 img{
	padding-bottom: 25px;
	padding-top: 25px;
	width: 35%;
	display: block;
	margin: auto;

}

.special2 img{
	padding-bottom: 25px;
	padding-top: 25px;
	width: 35%;
	display: block;
	margin: auto;

}
